body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #bdaaee;
    color: #cdb8b8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    color: #9184d1;
    text-decoration: none;
}

.logo img {
    max-width: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #326fe2;
    color: #6155ca;
}

.btn-secondary {
    background-color: #bba9a9;
    color: #7465f8;
}

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #20548b;
    padding: 200px 0;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.features {
    background-color: #c10303;
    padding: 40px 0;
    text-align: center;
}

.feature-item {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.feature-item img {
    max-width: 100px;
}

footer {
    background-color: #bdaaee;
    color: #00cc29;
    text-align: center;
    padding: 20px 0;

}

.plano-item {
    background-color: #bdaaee;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.plano-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plano-item p {
    font-size: 18px;
    margin-bottom: 15px;
}

.plano-item ul {
    list-style-type: none;
    margin-bottom: 15px;
}

.plano-item ul li {
    margin-bottom: 5px;
}
